{% extends 'account/base.html' %}
{% load static %}
{% block title %}Home - ZaikaSlice{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>ZaikaSlice</h1>
        <p>ORIGINAL RECIPE</p>
        <p class="description">
            Welcome to ZaikaSlice – Where Every Bite Tells a Story of Flavor, Freshness, and Love. That Brings People Together, Making Every Slice Feel Like Home!
        </p>
        <a href="{% url 'menu' %}" class="order-btn">ORDER NOW</a>
    </div>
    <div class="hero-image">
        <img src="{% static 'account/images/pizzahome.png' %}" alt="Pizza">
    </div>
</section>
{% endblock %}
