{% extends 'account/base.html' %}
{% load static %}
{% block title %}Home - ZaikaSlice{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>ZaikaSlice</h1>
        <p>ORIGINAL RECIPE</p>
        <p class="description">
            {{home_Paragraph}}
        </p>
        <a href="{% url 'menu' %}" class="order-btn">ORDER NOW</a>
    </div>
    <div class="hero-image">
        <img src="{{ home_picture}}" alt="Pizza">
    </div>
</section>
{% endblock %}
