{% extends "account/base.html" %}
{% load static %}
{% block title %}Menu - ZaikaSlice{% endblock %}
{% block content %}
<h1 class='menu'>Menu</h1>
<div class="card-container">
    {% for item in items %}
    <div class="card">
        <img src="{{ item.picture.url }}" alt="{{ item.name }}">
        <h3>{{ item.name }}</h3>
        <p class="price">Price: {{ item.price }} pkr</p>
        <p class="stock">
            {% if item.in_stock %}
                In Stock
            {% else %}
                Out of Stock
            {% endif %}
        </p>
        {% if item.in_stock %}
        <div class="order-btn">
            <a href="{% url 'order' %}" class="button">Order</a>
        </div>
        {% endif %}
    </div>
    {% empty %}
        <h2>No Item is Available</h2>
    {% endfor %}
</div>
{% endblock content %}