{% extends "account/base.html" %}
{% block title %}Set New Password - ZaikaSlice{% endblock %}

{% block content %}
<div style="max-width:450px;margin:80px auto;padding:35px 30px;background-color:black;border-radius:15px;box-shadow:0 5px 25px rgba(0,0,0,0.1);text-align:center;">
  <h2 style="font-size:26px;color:white;margin-bottom:20px;">Set New Password</h2>
  
  <form method="post" style="margin-top:20px; text-align:left;">
    {% csrf_token %}
    
    {% for field in form %}
      <div style="margin-bottom:18px;">
        <label for="{{ field.id_for_label }}" style="display:block;margin-bottom:5px;font-weight:bold;color:white;">
          {{ field.label }}
        </label>
        {{ field }}
        {% if field.errors %}
          <p style="color:red;font-size:13px;margin-top:5px;">{{ field.errors }}</p>
        {% endif %}
      </div>
    {% endfor %}
    
    <button type="submit" style="width:100%;background-color:green;color:#fff;padding:12px 28px;border:none;border-radius:8px;cursor:pointer;font-size:15px;transition:0.3s;margin-top:10px;">
      Reset Password
    </button>
  </form>
</div>
{% endblock %}

